@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family:
        'Poppins',
        'Roboto',
        'Helvetica',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.leaflet-draw-draw-rectangle,
.leaflet-draw-draw-circle {
    width: 5rem !important;
    height: min-content !important;
    line-height: 1rem !important;
    background-color: #104e8b !important;
    color: #ffffff !important;
    padding: 0.25rem 0.65rem;
}

.leaflet-draw-actions a {
    margin-top: 1rem !important;
    background-color: #8b1010;
    color: #ffffff !important;
    padding: 0.25rem 0.65rem;
}
